body {
  background: #0a0014; /* dark purple base */

  background-image: linear-gradient(
      to right,
      rgba(255, 0, 255, 0.05) 2px,
      transparent 2px
    ),
    linear-gradient(to bottom, rgba(0, 255, 255, 0.05) 2px, transparent 2px);

  background-size: 35px 35px;
  background-attachment: fixed;
}

.outer {
  background-color: rgba(30, 20, 50, 0.9);
  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: center; /* Vertical center */
  padding: 40px;
  width: 60%;
  border-radius: 15px;
  margin: 3rem auto;
  box-shadow: 0 0 30px 10px rgba(255, 0, 255, 0.3);
  backdrop-filter: blur(10px);
}

.neon-title {
  color: #00ffff;
  font-weight: 500;
  background: rgba(20, 0, 40, 0.9);
  border-radius: 20px;
  box-shadow: 0 0 20px #8a00ff, 0 0 40px #8a00ff;
  backdrop-filter: blur(10px);
  width: 60%;
  padding: 6px;
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}
.title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #00ffff;
  /* text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 40px #00ffff; */
}
.connectedStatus {
  margin-top: 1rem;
  text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 40px #00ffff;
  color: #00ffff;
  font-weight: 500;
  font-size: 0.8rem;
}
.inputBox {
  background-color: #2d1d4d;
  width: 450px;
  padding: 12px;
  border-radius: 12px;
  border: 2px solid #ff00ff;
  outline: none;
  color: white;
  font-size: 18px;
  margin-left: 2rem;
  /* box-shadow: 0 0 12px #ff00ff; */
}
.inputBox:focus {
  border-color: #00ffff !important;
  box-shadow: 0 0 10px #ff00ff;
}
.inputBtn {
  background-color: #ff00ff;
  color: #100c1f;
  font-weight: 700;
  padding: 12px 13px;
  border-radius: 12px;
  margin: 13px;
  border: 2px solid #ff00ff;
  outline: none;
  transition: all 0.2s;
}
.inputBtn:hover {
  box-shadow: 0 0 20px #ff00ff;
}

.listItems {
  background-color: rgba(45, 29, 77, 0.7); /* Item background */
  transition: all 0.2s;
  border-left: 3px solid #00ffff; /* Cyan highlight border */
  padding: 15px;
  border-radius: 12px;
  width: 98%;
  margin-top: 2.5rem;
}
.listItems:hover {
  background-color: rgba(55, 39, 97, 0.9);
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.3);
}
.listItems li {
  display: flex;
  align-items: center;
  justify-content: space-between; /* left text + right buttons */
  list-style: none; /* dot hatane ke liye */
  color: white;
  font-size: 1.2rem;
}
.liBtn button {
  border: none;
  outline: none;
  color: #00ffff !important;
  background: transparent;
  font-size: 1.2rem;
  margin-left: 10px;
  cursor: pointer;
  transition: all 150ms ease;
  padding: 8px;
  border-radius: 9999px;/* rounded-full */
}
.liBtn button:hover {
  color: #ff00ff !important;
  background-color: #2d1d4d;
}
